body {
  font-family: "Trebuchet MS";
  margin: auto;
  text-align: center;
  background-color: #E5E1ED;
}

h1 {
  font-family: "Trebuchet MS";
}

h5 {
  font-family: "Trebuchet MS";
  color: #37323E;
}

img {
  width: 500px;
  height: 500px;
  border-radius: 50px;
}
